<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>

  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Voice-Driven Web Application</span>
      <span class="fill-space"></span>
    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>
</mat-sidenav-container>
